@font-face {
    font-family: 'BoosterNextFY'; 
    src: url('./fonts/BoosterNextFY-Regular.woff2') format('woff2'),
         url('./fonts/BoosterNextFY-Regular.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('./fonts/BoosterNextFY-Bold.woff2') format('woff2'),
         url('./fonts/BoosterNextFY-Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY-300';
    src: url('./fonts/BoosterNextFY-Light.woff2') format('woff2'),
         url('./fonts/BoosterNextFY-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BoosterNextFY';
    src: url('./fonts/BoosterNextFY-Black.woff2') format('woff2'),
         url('./fonts/BoosterNextFY-Black.woff') format('woff');
    font-weight: 900; 
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

